{% extends "blog/base.html" %}

{% block title %}Список записей{% endblock %}

{% block header_title %}Список записей{% endblock %}

{% block lead_text %}Здесь представлены все доступные записи.{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

    {% for record in records %}
    {% if record.is_published %}
    <div class="col">
        <div class="card h-100 shadow-sm d-flex flex-column justify-content-between"> <!-- Дополнил классы -->
            <div class="card-body text-center">
                <h5 class="card-title"><a href="{% url 'blog:record-detail' record.pk %}">{{ record.name }}</a></h5>
                {% if record.image %}
                <img src="{{ record.image.url }}" alt="{{ record.name }}" class="img-fluid rounded mb-3"
                     style="height: 200px; object-fit: cover;">
                {% endif %}
            </div>
            <div class="card-footer text-center"> <!-- Footer для выравнивания внизу -->
                <p class="card-text m-0">Просмотры: {{ record.view_count }}</p>
                <p class="card-text m-0">Дата создания: {{ record.created_at|date:"d.m.Y" }}</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% empty %}
    <div class="alert alert-info mt-4">Нет доступных записей.</div>
    {% endfor %}
</div>

{% endblock %}