<nav class="ms-5">
    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:home' %}">Главная</a>

    <!-- Категория Магазин с выпадающим списком -->
    <div class="btn-group">
        <button type="button" class="p-2 btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
            Магазин
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'catalog:home' %}">Каталог товаров</a></li>
            <li><a class="dropdown-item" href="#">Корзина покупок</a></li>
        </ul>
    </div>

    <!-- Категория Блог с выпадающим списком -->
    <div class="btn-group">
        <button type="button" class="p-2 btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
            Блог
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'blog:record-list' %}">Все записи</a></li>
            {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'blog:my-records-view' %}">Мои статьи</a></li>
            {% endif %}
        </ul>
    </div>

    <!-- Отдельная ссылка на Контакты -->
    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:contacts' %}">Контакты</a>

    <!-- Показывать ссылки Вход и Регистрация только для незалогиненных пользователей -->
    {% if not user.is_authenticated %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Регистрация</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Войти</a>
    {% else %}
        <!-- А вот тут идет форма логаута для залогиненных пользователей -->
        <form id="logout-form" method="post" action="{% url 'users:logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="p-2 btn btn-outline-primary">Выйти</button>
        </form>
    {% endif %}
</nav>